.email-example-card{
  max-width:100%;
  position:absolute;
  left:50%;
}
.example-header-image {
  background-image: url("/assets/challenge.png");
  background-size: cover;
}
example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
