<mat-toolbar color="primary">
<span>Material Design Profile</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/aboutMe" fxShow="false" fxShow.gt-sm>About Me</button>
    <button mat-button routerLink="/contactMe/email" fxShow="false" fxShow.gt-sm>Contact Form</button>
    <button mat-button routerLink="/" fxShow="false" fxShow.gt-sm>Login Template</button>
    <button mat-button routerLink="/" fxShow="false" fxShow.gt-sm>Dashboard</button>

    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item [routerLink] = "['/aboutMe']">
  <mat-icon>person</mat-icon>
  <span>About Me</span>
  </button>
  <button mat-menu-item [routerLink] = "['/contactMe/email']">
  <mat-icon>contact_mail</mat-icon>
  <span>Contact Me</span>
  </button>
  <button mat-menu-item [routerLink] = "['/']">
  <mat-icon>fingerprint</mat-icon>
  <span>Login</span>
  </button>
    <!--<button md-menu-item>Help</button>-->
</mat-menu>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
      fxLayoutAlign="center"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="10%" >
    <div fxLayout="column" fxLayout.xs ="row">
      <a [routerLink] = "['/contactMe/email']"><i class="fa fa-envelope fa-lg"></i></a>
          <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
          <a  [routerLink] = "['/contactMe']"><i class="fa fa-github fa-lg"></i></a>
          <a href="#"> <i class="fa fa-twitter fa-lg"></i></a>
          <a href="#"> <i class="fa fa-instagram fa-lg"></i></a>
          <a href="#"> <i class="fa fa-google fa-lg"></i></a>
</div>

  </div>

  <div class="item item-2" fxFlex="90%" fxFlexOrder="3">
   <router-outlet></router-outlet>
 </div>
</div>
