<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Experience
    </mat-panel-title>
  </mat-expansion-panel-header>
  <h3 class="mat-headline">Software Engineer specializing in Web Developement,JavaScript fundaments,
     Angular2 development and  Agile development</h3>



<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>SOFTWARE DEVELOPER</mat-card-title>
    <mat-card-subtitle>Group 45—Informatics and Decision Support</mat-card-subtitle>
    <div mat-card-avatar class="ll-header-image"></div>
  </mat-card-header>
  <mat-card-content>
   The Informatics and Decision Support Group develops advanced software systems,
   analytics, and human-systems interface solutions to improve the timeliness,
   confidence, and optimality of decisions.
  </mat-card-content>
  <mat-tab-group>
    <mat-tab label="Android Developer - Current Role">
    <p>Currently involved in development, maintenance, improvements and
    refactoring of proprietary android    applications utilized as a tool for
    planning and estimation purposes. Some components of my task includes the
    improvements to the current user interface, develop additional android
    trigger events and sensor management, restructure code base to produce a
    more manageable development process.
    </p>
    </mat-tab>
    <mat-tab label="Front End User Interface Developer">
    <p> JavaScript UI Engineer responsible for creating innovative web
    experiences and engaging applications. By combining both design
    sensibilities and technical expertise enabled the application to look
    good and function well. My prime responsibility and focus was the way
    the functionality is displayed while ensuring the fine detail of how
    users interact with the interface is met. Some of my tasks included
    production of the visual design and functioning front-end code using
    modern HTML, Angular JS, jQuery and CSS practices. The emphasis of this
    project was building data discovery and collaboration tools, as well as
    video analytics to produce polished final production quality outputs
    </p>
    </mat-tab>
  </mat-tab-group>
</mat-card>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
    Education
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card>
    <mat-card-header>
      <mat-card-title> Worcester State University</mat-card-title>
      <mat-card-subtitle>Worcester, Massachusetts</mat-card-subtitle>
      <div mat-card-avatar class="wsu-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <div class="mat-elevation-z8">
            <h4>Bachelor of Computer Science (BSCS)</h4>
      </div>
      <em>Minor in Web Development</em>
      <p>May 2000</p>
      <mat-card-actions>
  <button mat-fab>
    <mat-icon>open_in_browser</mat-icon>
  </button>
  <button mat-fab>
    <mat-icon>share</mat-icon>
  </button>
 </mat-card-actions>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>School Of Business & Computer Science</mat-card-title>
    <mat-card-subtitle>Champs Fleurs, Trinidad & Tobago</mat-card-subtitle>
    <div mat-card-avatar class="sbcs-header-image"></div>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
          <h4>Diploma Information Systems</h4>
    </div>
   <em>Institute Of Management In Iformation Systems(IMIS)</em>
    <p>June 1998</p>
    <mat-card-actions>
      <div class="button-row">
        <button mat-fab>
          <mat-icon>open_in_browser</mat-icon>
        </button>
        <button mat-fab>
          <mat-icon>share</mat-icon>
        </button>

      </div>
 </mat-card-actions>

</mat-card-content>
</mat-card>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
    Skill-set
    </mat-panel-title>
    </mat-expansion-panel-header>
  <div class="bubble-container">
    <div fxLayout="row"  fxLayoutWrap fxLayout.xs ="column">
      <ul class="bubble-card" tabindex="1">
        <li class="details">
        <img src="/Images/clientSide.png"><span class="mat-headline">Client-Side Web Development</span>
        <div class="card-bubble">
      <span class="mat-subhead">HTML5, CSS3, JavaScript, AJAX, DOM, Developer Toolbar(Firefox/Chrome/IE)</span>
        </div>

      </li>
      </ul>
    <ul class="bubble-card" tabindex="2">
      <li class="details">
      <img src="/Images/serverSide.png"><span class="mat-headline">Server-Side Web Development</span>
      <div class="card-bubble">
      Express (Node.js/JavaScript), ASP.NET
      </div>
    </li>
    </ul>

  <ul class="bubble-card" tabindex="3">
    <li class="details">
    <img src="/Images/angular.png"><span class="mat-headline" style="word-wrap:break-word">Front-End Libraries, Frameworks, Pre-Processors</span>
    <div class="card-bubble">
    jQuery, AngularJS,Bootstrap, Angular Material, Sass, Less
  </div>
  </li>
  </ul>


  <ul class="bubble-card" tabindex="4">
    <li class="details">
    <img src="/Images/codeRepo.png"><span class="mat-headline">Version Control Systems</span>
    <div class="card-bubble">
   Git, Subversion, Visual Studio Team Foundation Version Control.
 </div>
  </li>
  </ul>


  <ul class="bubble-card" tabindex="5">
    <li class="details">
    <img src="/Images/dbase.png"><span class="mat-headline">Database Systems</span>
    <div class="card-bubble">
   MongoDB, Microsoft SQL Server, MySQL, PostgreSQL, Oracle 9i/10g/11
 </div>
  </li>
  </ul>

  <ul class="bubble-card" tabindex="6">
    <li class="details">
    <img src="/Images/automation.png"><span class="mat-headline">Automation/Build Tools</span>
    <div class="card-bubble">
   Jenkins, Docker
 </div>

  </li>
  </ul>

  <ul class="bubble-card" tabindex="8">
    <li class="details">
    <img src="/Images/efficiency.png"><span class="mat-headline">Application Packages</span>
  <div class="card-bubble">
   Microsoft Outlook, MS office suite (Windows 95/98/XP/Vista/7)
 </div>

  </li>
  </ul>

  <ul class="bubble-card" tabindex="9">
    <li class="details">
    <img src="/Images/platforms.png"><span class="mat-headline">Platforms</span>
    <div class="card-bubble">
  Linux and UNIX, iOS, Android, Windows
</div>
  </li>
  </ul>


  </div></div>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
  Bonuses
    </mat-panel-title>

  </mat-expansion-panel-header>
  <p>
    Security Clearance: Active DOD
    United States Citizen

  </p>
</mat-expansion-panel>
